<li class="member">
  <%= 
    link_to_remote h(member.name), 
    :url => pivotal_tracker_member_dates_path(@project, member), 
    :class => "member_link",
    :loading => "$('#project_spinner_#{@project.id}_member_#{member.id}').toggle(); $('#pivotal_project_#{@project.id}_member_#{member.id}').toggle()", 
    :complete => "$('#project_spinner_#{@project.id}_member_#{member.id}').toggle(); $('#pivotal_project_#{@project.id}_member_#{member.id}').toggle()", 
    :method => :get, 
    :html => {:id => "pivotal_project_#{@project.id}_member_#{member.id}"} %><%= image_tag "indicators/small.gif", :id => "project_spinner_#{@project.id}_member_#{member.id}", :style => "display:none;" 
  %>
</li>