form.formtastic fieldset
  border: none

  ol
    list-style-type: none

    li
      padding: 5px 5px 5px 0

      label, input
        display: block

      label abbr
        border: none

      input.large_input
        font-size: 145%

      p.inline-errors
        color: #dd0000


.upload.new p.inline-errors
  color: #dd0000


form.formtastic fieldset > ol > li
  margin-bottom: 0

form.formtastic  
  .submit
    font-size: 150%
    border: 1px solid #3d3d3d
    padding: 5px
  fieldset.buttons
    padding-left: 0
