<div class="collaborators_wrapper">  
  <div class="collaborators">
    <h2>Repository '<%=h repository.name %>': the collaborators</h2>
    <ul>
    <% collaborators.each do |collaborator| %>
      <li class="collaborator">
        <%= link_to collaborator.name, github_collaborator_dates_path(:repository_name => repository.name, :collaborator_name => collaborator.name), :class => "collaborator_link" %>
      </li>
    <% end %>
    </ul>
    Click on one of the repository's collaborators to continue...
  </div>
  <%= indicator :size => :big, :class => "big_indicator", :message => "loading dates ..." %><br />
</div>