<% repositories_wrapper do %>
  <% repositories.each do |repository| %>
    <li class="repository">
      <%= link_to repository.name, github_repository_collaborators_path(:repository_name => repository.name), :class => "repository_link" %>
    </li>
  <% end %>
<% end %>