<div class="repositories_wrapper">
  <h2>Your repositories</h2>
  <ul class="repositories">
    <% repositories.each do |repository| %>
      <li class="repository">
        <%= link_to repository.name, github_repository_members_path(:repository_name => repository.name), :class => "repository_link" %>
        <%= indicator %>
      </li>
    <% end %>
  </ul>
  Click on one of the repositories to see its members...
</div>