<div class="wrapper">
  
  <div class="left">
    <h1>Pivotal Tracker</h1>
    <div class="pivotal_tracker_wrapper">
      <%= render :partial => "pivotal_tracker/login" %>
    </div>
  </div>

  <div class="right">
    
  </div>
  <div class="clear"></div>
  
</div>

