<div class="wrapper">
  
  <div class="box left">
    <h1>Pivotal Tracker</h1>
    <div class="box_wrapper pivotal_tracker_wrapper">
      <%= render :partial => "/pivotal_tracker/login" %>
    </div>
  </div>

  <div class="box right">
    <h1>Github</h1>
    <div class="box_wrapper github_wrapper">
      <%= render :partial => "/github/login" %>
    </div>
  </div>

  <div class="clear"></div>
  
</div>

