<div class="wrapper">
  
  <div class="pivotal_tracker_box left">
    <h1>Pivotal Tracker</h1>
    <div class="pivotal_tracker_wrapper">
      <%= render :partial => "/pivotal_tracker/login" %>
    </div>
  </div>

  <!-- <div class="github_box right">
    <h1>Github</h1>
    <div class="github_wrapper">
      <%#= render :partial => "/github/login" %>
    </div>
  </div> -->

  <div class="clear"></div>
  
</div>

